<!DOCTYPE html>
    <head>
        <link rel="icon" href="/static/favicon.png">
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/jquery-3.6.3.min.js"></script>
        <title>Flux Node Monitor</title>
    </head>
    <body>
        <div id="header">
            <img src="/static/Flux_white_logo.svg">
            <h1 id="title">Welcome!</h1>
        </div>
        <div id="main">
            <div id="filter">
                <label for="wallet">Wallet Address</label>
                <input id="wallet" placeholder="Enter Wallet Address" value="{{wallet}}">           
                <button onclick="walletSearch()">Search Wallet</button>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>Tier</th>
                        <th>Ip Address</th>
                        <th>Rank</th>
                        <th>Node Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for node in node_output %}
                    <tr>
                        <td>{{ node.tier }}</td>
                        <td>{{ node.ip }}</td>
                        <td>{{ node.rank }}</td> 
                        <td><img src="{{node.status}}" class="statusImage"></td>                      
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div id="popUp">
                <p>Invalid Wallet Address!</p>
            </div>
        </div>
          
        <script>
            function walletSearch() {
                wallet = $("#wallet").val();
                const url = "{{ url_for('index') }}" + "?wallet=" + wallet;
                window.location.href = url;
            } 
            $(document).ready(function () {
                if("{{pop_up}}" == "True")
                    popUp();
                function popUp() {
                    $("#popUp").addClass("show");
                    setTimeout(function() {
                        $("#popUp").removeClass("show");
                    }, 3000);
                }
            });   
        </script> 
    </body>
</html>